@font-face {
    font-family: 'bruno-ace';
    src: url(fontes/Bruno_Ace/BrunoAce-Regular.ttf);

}

@font-face {

    font-family: 'ques';
    src: url(fontes/Questrial-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-contatos {
    width: 70vw;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(50, 40, 155, 0.451) 65%, rgba(255, 255, 255, 0.314) 100%), url(img/banner.png);
    background-repeat: no-repeat;
    background-position: 40% 40%;

}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-family: 'bruno-ace';
}

.menu a {

    color: #fff;

    font-family: 'bruno-ace';
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    text-decoration-color: white;

}

.container-grid #logo {
    width: 30%;
    margin-top: 8px;
}

.sobre-empresa {

    height: 250px;

    margin-bottom: 120px;

    background-image: url(img/separador.png);
    background-size: 1500px;
    background-attachment: fixed;
    position: relative;
}

.container-sobre {
    height: auto;

    padding-top: 20px;
    /* Adiciona preenchimento superior */
    padding-bottom: -200px;
    /* Adiciona preenchimento inferior */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha horizontalmente no centro */
}

.sobre-empresa a {
    width: fit-content;
    margin-top: 70px;
    font-family: 'bruno-ace';
    font-size: 50px;
    color: white;
    z-index: 1;
    margin-bottom: 34px;
}

.ondas {
    transform: rotate(180deg);
    align-self: flex-end;
    margin-top: 20px;
    z-index: -2;
}


.um-parte-sobre {
    margin-top: 300px;
    margin-left: 30%;
}

.um-parte-sobre p {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    font-family: "ques";
    font-size: 20px;
}

.fantasma {
    margin-left: 30%;
}

.fantasma p {
    padding-top: 2%;
    width: 50%;
    font-family: "ques";
    font-size: 20px;
}

.container-sobre #newnew {
    padding-right: 51%;
}

.container-sobre {
    height: 90%;
}

#cases-empresa {
    margin-top: 300px;
    /* Adiciona espaço acima da seção */
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: #14103D;
}

.parallax-background {
    background-image: url('img/super-uzumaki.svg');
    /* Substitua pela sua imagem de fundo */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    animation: rotateBackground 20s linear infinite;

}

.parallax-background:nth-child(2) {
    background-image: url('img/super-uzumaki.svg');
    /* Substitua pela sua segunda imagem de fundo */
    /* Outras propriedades de estilo */

}



@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7FF007;
    font-family: 'bruno-ace';

}

.item {
    text-align: center;
    color: #7FF007;
    padding: 20px;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fique sobre o fundo */
    background-color: rgba(0, 0, 0, 0.5);
    /* Adiciona um fundo semitransparente para destacar o conteúdo */
    margin: 20px auto;
    /* Adiciona margem para separar os itens */
    max-width: 80%;
    /* Limita a largura do item */
}

.item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 10px;
}

.item p {
    font-size: 18px;
}

/* 
.other-content { Estilos para outro conteúdo abaixo da paralaxe */


.sobre-games a {
    width: fit-content;
    margin-top: 70px;
    font-family: 'bruno-ace';
    font-size: 50px;
    color: white;
    z-index: 1;
    margin-bottom: 34px;

}


.sobre-games #games {
    margin-top: 46%;
    margin-bottom: 20%;
}



.container-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para permitir que os cards quebrem para a próxima linha */
}

.card {
    height: 400px;
    width: calc(25% - 20px);
    /* Calcula a largura com margem para quatro cards por linha */
    margin-bottom: 20px;
    /* Adiciona margem inferior entre os cards */
    box-sizing: border-box;
    /* Garante que a largura do card inclua a margem */
    background-color: #14103D;
}

.card img {
    height: 55%;
    width: 100%;
    border-right: 4px 4px 0px 0px;
}

.card p {
    text-align: left;
    font-family: 'ques';

    padding: 7%;

    color: #1aee36;
}

.card button {
    width: 100%;
    height: 50px;

    background-color: var(#14103D);

    border: none;
    border-radius: 20px;

    color: #14103D;

    font-family: 'bruno-ace';
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: bakcgrond-color 500ms;
}

.card button:hover {
    background-color: #1aee36;
}


.fim-do-site {
    margin-top: -140px;
    /* Adicione a margem superior desejada */
    padding-top: 20px;
    /* Adicione um preenchimento superior para separar o conteúdo */
    position: relative;
    position: relative;
    overflow: hidden;
}



footer {
    height: 485px;
    background-color: #14103D;
}

footer .container-contatos {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.redes-sociais p {
    color: white;
    font-family: "bruno-ace";
    font-size: 24px;
}

.icones-redes {
    width: 500px;

    display: flex;
    justify-content: space-around;
}

.icones-redes a {
    color: white;
}

.icones-redes a:hover {
    color: #7FF007;
}


.container-sobre-cases {
    height: auto;
    padding-top: 20px;
    padding-bottom: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sobre-cases img {
    display: none;
}

.container-sobre-games {
    height: auto;
    padding-top: 20px;
    padding-bottom: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sobre-contatos {
    height: auto;
    padding-top: 20px;
    padding-bottom: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





@media screen and (max-width: 2500px) {

    .container-grid #hamburgue {
        display: none
    }

    ;
}

@media screen and (max-width: 1300px) {
    .menu a {
        font-size: 17px;
    }


    .redes-sociais p {
        font-size: 17px;
        padding-right: 15%;
    }

    .container-sobre {
        height: 80%;
    }
}

@media screen and (max-width: 1200px) {

    .container-sobre {
        height: 60%;
    }
}


@media screen and (max-width: 1100px) {
    .menu a {
        font-size: 15px;
    }

    .container-sobre {
        height: 50%;
    }
}

@media screen and (max-width: 1055px) {
    .icones-redes {
        width: 400px;
    }

    .container-sobre {
        height: 40%;


    }

    .parallax {
        height: 66vh;
    }

}

@media screen and (max-width: 1000px) {

    .um-parte-sobre #img-empresa {
        width: 500px;
    }

    .um-parte-sobre p {
        font-size: 15px;
    }

    .dois-parte-sobre #empresa-por-dentro {
        width: 500px;
    }

    .fantasma p {
        font-size: 15px;
    }

    .menu {
        border-radius: 15%;
        height: 350px;
        width: 450px;
        padding: 0px 50px;
        flex-direction: column;
        justify-content: space-around;
        background-color: #458104;
        position: absolute;
        top: 105px;
        right: 200px
    }

    .container-grid #logo {
        width: 60%;
    }

    .container-grid #hamburgue {
        margin-left: 20%;
        padding-top: 5%;
        width: 80px;

        display: unset;

        background: none;

        border: none;
        fill: #458104;

    }

    .sobre-games a {
        font-size: 25px;
    }

    .sobre-empresa a {
        font-size: 25px;
    }

    .card {
        height: 450px;
    }

    .card p {
        font-size: 15px;
    }

    .redes-sociais {
        height: 35%;
    }

    .container-grid {
        width: 100vw;
    }

    .sobre-empresa {
        height: 190px;
    }

    .container-sobre {
        height: 10%;
    }

    .parallax {
        height: 59vh;
    }

}

@media screen and (max-width: 920px) {
    .parallax {
        height: 55vh;
    }
}

@media screen and (max-width: 856px) {
    .parallax {
        height: 53vh;
    }
    
}


@media screen and (max-width: 840px) {
    .redes-sociais {
        height: 35%;
    }

    .parallax {
        height: 50vh;
    }
}



@media screen and (max-width: 750px) {

    .container-sobre #newnew {
        height: 200px;

        margin-top: 20%;
    }

    .um-parte-sobre #img-empresa {
        width: 450px;
    }

    .dois-parte-sobre #empresa-por-dentro {
        width: 400px;
    }

    .parallax {
        height: 46vh;
    }

}

@media screen and (max-width: 750px) {

    .menu {
        right: 99px;
    }

}


@media screen and (max-width: 655px) {

    .parallax {
        height: 40vh;
    }

    .um-parte-sobre #img-empresa {
        width: 350px;
        height: 200px
    }
}


@media screen and (max-width: 655px) {

    .dois-parte-sobre #empresa-por-dentro {
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        width: 350px;
    }
}



@media screen and (max-width: 550px) {
    .um-parte-sobre p {
        width: 100%;
    }

    .fantasma p {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
.um-parte-sobre {
  
    margin-left: 10%;
}

.dois-parte-sobre {
    margin-left: -30%;
}

.container-sobre #newnew {
    margin-top: 30%;
}
}